body {
  
    font-family: 'Monospace';
    overflow: hidden;
    height: 100vh;
  }
  header h1 {
    font-size: 2.5rem;
}


.header {
    text-align: center;
    background-color: #8B4513; 
    color: #fff;
    padding: 20px 0;
}
  .panel-container {
    background-color: burlywood;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    max-width: 400px;
    color: wheat;
    margin: 10% auto 2% auto;
  }
  
  .panel-container strong {
    line-height: 20px;
  }
  
  .ratings-container {
    display: flex;
    margin: 20px 0;
    color: burlywood;
  }
  
  .rating {
    flex: 1;
    cursor: pointer;
    padding: 20px;
    margin: 10px 5px;
  }
  
  .rating:hover,
  .rating.active {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .rating img {
    width: 40px;
  }
  
  .rating small {
    color: #fff; /* White text */
    display: inline-block;
    margin: 10px 0 0;
  }
  
  .rating:hover small,
  .rating.active small {
    color: wheat;
  }
  
  .btn {
    background-color: sienna;
    color: #000;
    border: 0;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
  }
  
  .btn:focus {
    outline: 0;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .fa-heart {
    color: red;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .credit a {
    text-decoration: none;
    color: brown;
  }
  
  .credit {
    text-align: center;
  }
  
